#kickstartr {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
}

.navbar-static-top {
    background-color: rgb(15,43,63);
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
}

.navbar-static-top .logo {
    height: 35px;
    margin-top: -10px;
}

.navbar-static-top .name {
    font-weight: bold;
    font-size: 24pt;
}

.guide .panel-body {
    min-height: 110px;
}

.guide .logo {
    height: 40px;
}

.guide .media-left {
    width: 150px;
}

.guide .choice:hover {
    background-color: #c4eeff;
    border-color: #59d5ff;
}

.guide .choice:hover * {
    cursor: pointer;
    cursor: hand;
}

