@(projectTypes: List[ProjectType], buildTools: List[BuildTool])
@import play.api.libs.json.Json
@import views.JsonFormats._

@main("Typesafe Kickstartr") {
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <img class="logo" src="@routes.Assets.versioned("images/typesafe_icon_reverse.svg")"> <span class="name">Typesafe Kickstartr</span>
        </div>
    </nav>

    <div>

        @* first step static to make it nicely indexable *@
        <div class="guide">
            <div class="step-1 container">
                <div class="row">
                    <div class="col-xs-2 summary well">
                        <h4>Project type</h4>
                        Choose a project type and we'll get you started writing reactive applications in no time
                    </div>
                    <div class="col-xs-10">
                        <div class="row choices">
                            @projectTypes.map { projectType =>
                                <div class="col-xs-6">
                                    <div class="media panel panel-default choice project-type" data-project-type="@projectType.name">
                                        <div class="panel-body">
                                            <div class="media-left">
                                                <img class="logo"
                                                    src="@routes.Assets.versioned("images/" + projectType.name.toLowerCase + "_icon.png")">
                                            </div>
                                            <div class="media-body">
                                                <div class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></div>
                                                <h3 class="media-heading">@projectType.name</h3>
                                                <p class="lead">@projectType.tagline</p>
                                                <p>@projectType.description</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-2 container" style="display: none">
                <div class="row">
                    <div class="col-xs-2"><div class="summary well"></div></div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="btn btn-default btn-sm back pull-right"><span class="glyphicon glyphicon-chevron-left"></span> Back </div>
                            <h4>Choose a build tool</h4>
                            <div class="choices"></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="step-3 container" style="display: none">
                <div class="row">
                    <div class="col-xs-2"><div class="summary well"></div></div>
                    <div class="col-xs-10 container details">
                        <div class="row">
                            <div class="btn btn-default btn-sm back pull-right"><span class="glyphicon glyphicon-chevron-left"></span> Back </div>
                            <h4>Enter project details</h4>
                        </div>

                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="name">Project Name</label>
                                <input id="name" type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="organization">Organization</label>
                                <input id="organization" type="text" class="form-control" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 form-group language-selection">
                                <label>Language</label>
                                <div class="radio">
                                    <label><input type="radio" name="language" class="language-selector" value="Scala" checked>Scala</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="language" class="language-selector" value="Java">Java</label>
                                </div>
                            </div>
                            <div class="col-xs-8 features">
                                <label>Additional features</label>
                                <div class="feature-list"></div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8">
                                    <div id="create" class="btn btn-primary btn-lg center-block">
                                        Create a project for me!
                                        <span class="glyphicon glyphicon-save"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>

    <script language="JavaScript">

        var state = {
                projectName: "MyProject",
                organization: "org.example",
                language: "Scala"
            },
            projects = @Html(Json.toJson(projectTypes).toString()),
            buildTools = @Html(Json.toJson(buildTools).toString())

        $(".back").on('click', function() {
            state.back()
        })

        $(".step-1 .choice").on('click', function(ev) {
            var selected = $(ev.currentTarget).attr("data-project-type")
            var project = projects.find(function(elem) { return elem.name == selected })
            state.project = project
            $(".step-1").hide()

            if (project.buildTools.length == 1) {
                // no need to choose
                state.buildTool = buildTools.find(function(curr) { return curr.name == project.buildTools[0] })
                state.back = function() {
                    state.project = undefined
                    state.buildTool = undefined
                    $(".step-3").hide()
                    $(".step-1").show()
                }
                enterDetails()

            } else {
                 state.back = function() {
                    state.project = undefined
                    $(".step-2").hide()
                    $(".step-1").show()
                }
                chooseBuildTool(project.buildTools)
            }

        });

        function chooseBuildTool(selectableToolNames) {
            var selectableTools = buildTools.filter(function(tool) {
                return selectableToolNames.find(function(name) { return name == tool.name })
            })

            $(".step-2 .choices").empty()

            $(".step-2 .summary").empty()
            $(".step-2 .summary").append($("<p><h4>Project type</h4><b>" + state.project.name + "</b> - " + state.project.summary + "</p>"))

            selectableTools.forEach(function(tool) {
                $(".step-2 .choices").append(
                    $('<div class="col-xs-6">' +
                      '<div class="media panel panel-default choice project-type" data-build-tool="' + tool.name + '">' +
                            '<div class="panel-body">' +
                                '<div class="media-left">' +
                                    '<div class="media-left">' +
                                        '<img class="logo" style="max-height: 50px" src="/assets/images/' + tool.name.toLowerCase() + '_icon.png">' +
                                    '</div>' +
                                '</div>' +
                                '<div class="media-body">' +
                                    '<div class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></div>' +
                                    '<h4 class="media-heading">' + tool.name + '</h4>' +
                                    '<p>' + tool.summary + '</p>' +
                                    '<p><b>Requirements:</b> ' + tool.requirements + "</p>" +
                                '</div>' +
                            '</div>' +
                        '</div>' +
                    "</div>")

                )
            })

            $(".step-2 .choice").on('click', function(ev) {
                var selected = $(ev.currentTarget).attr("data-build-tool")
                var tool = buildTools.find(function(elem) { return elem.name == selected })
                state.buildTool = tool
                $(".step-2").hide()

                var prevBack = state.back
                state.back = function() {
                    state.buildTool = undefined
                    $(".step-3").hide()
                    $(".step-2").show()
                    state.back = prevBack
                }
                enterDetails()
            })

            $(".step-2").show()
        }

        // sync name and org whenever they change
        $("#name").on('change', function(ev) {
           state.projectName = ev.target.value
        })
        $("#organization").on('change', function(ev) {
           state.organization = ev.target.value
        })
        $(".language-selector").on('change', function(ev) {
           state.language = ev.target.value
        })

        function enterDetails() {
            $(".step-3").show()

            $(".step-3 .summary").empty()
            $(".step-3 .summary").append($("<h3>Project</h3>"))
            $(".step-3 .summary").append($("<p><h4>Project type</h4><b>" + state.project.name + "</b> - " + state.project.summary + "</p>"))
            $(".step-3 .summary").append($("<p><h4>Build tool</h4><b>" + state.buildTool.name + "</b> - " + state.buildTool.summary + "</p>"))
            $(".step-3 .options").empty()

            if (!state.project.featureChoices.length) {
                $(".step-3 .features").hide()
            } else {
                $(".step-3 .features").show()
                $(".step-3 .feature-list").empty()
                state.project.featureChoices.forEach(function(feature) {
                    $(".step-3 .feature-list").append(
                        $("<div class='checkbox'><label class=''><input type='checkbox' class='feature-toggle' data-feature-name='" + feature.name + "'/> " + feature.name + " - <small>" + feature.summary + "</small></label></div>"))
                })
            }

            if (state.project.languages.length > 1) {
                $(".language-selection").show()

            } else {
                $(".language-selection").hide()
            }

            $("#name").val(state.projectName)
            $("#organization").val(state.organization)
        }

        $("#create").on('click', function() {
            var features = []
            $('.feature-toggle').each(function(idx, toggle) {
                if (toggle.checked) {
                    features.push($(toggle).attr("data-feature-name"))
                }
            })

            var featureQuery = ""
            if (features.length) {
                featureQuery = "?features=" + features.join(",")
            }

            var generatorUrl = "generate/" + state.project.name
                + "/" + state.language
                + "/" + state.buildTool.name
                + "/" + encodeURIComponent(state.projectName)
                + "/" + encodeURIComponent(state.organization)
                + featureQuery

            window.location.href = generatorUrl
        })
    </script>
}